.message-list{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-bottom: 100px;

}
.content_bot{
    text-align: start;
    align-self: flex-start;
}
.content_user{
    text-align: end;
    align-self: flex-end;
}